/* whole application */

:root {
  --dark-color: #2f2f3b;
}

#root {
  width: 400px;
  background: rgba(0, 0, 0, 0.103);
}

body {
  margin: 0;
  padding: 0;
}

/* App */

#appContainer {
  display: flex;
  flex-direction: column;
}

/* NavBar component */

#navBar {
  background: var(--dark-color);
  position: relative;
  padding: 0px 5px;
}

#activeApplyIcon {
  width: 175px;
}
