/* whole application */

:root {
  --dark-gray-color: #2f2f3b;
  --darkish-blue-color: #0c7acd;
}
/* #0059bb
#0c7acd
#199cdf
#26bef2 */

#root {
  width: 400px;
  /* height: 500px; */
  background: var(--dark-gray-color);
}

body {
  margin: 0;
  padding: 0;
}

/* App */

#appContainer {
  display: flex;
  flex-direction: column;
}

/* NavBar component */

#navBar {
  background: var(--dark-gray-color);
  position: relative;
  padding: 0px 5px;
  border-bottom: 2px solid var(--darkish-blue-color);
}

#activeApplyIcon {
  width: 175px;
}

/* Form component */

#submit-btn {
  background: var(--darkish-blue-color);
}
